appdirs==1.4.3
argon2-cffi==16.3.0
azure==1.0.3
azure-common==1.1.5
azure-mgmt==0.20.2
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.1
azure-mgmt-network==0.20.1
azure-mgmt-nspkg==2.0.0
azure-mgmt-resource==0.20.1
azure-mgmt-storage==0.20.0
azure-nspkg==2.0.0
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.2
azure-storage==0.20.3
boto==2.46.1
cffi==1.10.0
configparser==3.5.0
contextlib2==0.5.4
dj-database-url==0.4.2
Django==1.11
django-anymail==0.9
django-bootstrap3==8.2.2
django-extensions==1.7.8
django-localflavor==1.4.1
django-mssql==1.8
django-multiselectfield==0.1.5
django-pipeline==1.6.12
django-redis==4.7.0
django-storages==1.5.2
django-waffle==0.12.0a1
enum34==1.1.6
flake8==3.3.0
flake8-import-order==0.12
futures==3.1.1
hiredis==0.2.0
mccabe==0.6.1
olefile==0.44
packaging==16.8
Pillow==4.1.0
pluggy==0.4.0
psycopg2==2.7.1
py==1.4.33
pycodestyle==2.3.1
pycparser==2.17
pyflakes==1.5.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
raven==6.0.0
redis==2.10.5
requests==2.13.0
six==1.10.0
tox==2.7.0
virtualenv==15.1.0
